<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/style.css">
    <style>
      body {
        background-color: #000;
        color: #fff;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      nav a {
        display: inline-block;
        padding: 10px 20px;
        color: yellow;
        text-decoration: none;
      }

      nav a:hover {
        text-decoration: underline;
      }

      header {
        padding-bottom: 20px;
      }

      footer {
        padding-top: 20px;
      }
    </style>
  </head>
  <body>

    <header>
      <h1>My <s>personal</s> dark page</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/info">Info</a>
        <a href="/history">History</a>
      </nav>
    </header>

    {{{ body }}}

    <footer>
      <p>All rights reserved<p>
    </footer>

  </body>
</html>